export("create.Rdata.files", 
       "calc.genoprob", 
	   "categorize.variants",
	   "cluster.strains",
       "condense.model.probs",
	   "convert.genes.to.GRanges",
	   "convert.pos.to.GRanges",
	   "convert.variants.to.numeric",
       "coef.plot",
	   "do.trans.probs",
       "effect.plot", 
       "extract.raw.data",
       "get.call.rate",
       "filter.geno.probs",
       "filter.samples",
	   "find.overlapping.genes",
	   "gene.plot",
	   "get.max.geno",
	   "get.mgi.features",
	   "get.pattern.variants",
	   "get.strains",
	   "get.variants",
       "genotype.by.sample.barplot",
       "genotype.by.snp.barplot",
       "kinship.probs",
       "batch.normalize",
       "permutations.qtl.LRS",
       "plot.genotype.max",
       "predict.sex",
       "qtl.LRS",
       "qtl.heatmap", 
       "qtl.plot", 
       "rankZ",
       "simulate.qtl",
       "scanone",
       "scanone.perm",
       "summarize.genotype.transitions",
       "summarize.by.samples",
       "summarize.by.snps",
	   "variant.plot",
       "write.genotype.plots")

useDynLib(DOQTL,
  emission_prob_from_r = emission_prob_from_r,
  filter_smooth_intensity = filter_smooth_intensity,
  filter_smooth_allele = filter_smooth_allele,
  filter_from_r = filter_from_r,
  kinship_from_r = kinship_from_r,
  update_from_r = update_from_r,
  update_alleles_from_r = update_alleles_from_r,
  viterbi_from_r = viterbi_from_r,
  DO_autosome_recomb_freq = DO_autosome_recomb_freq,
  DO_maleX_recomb_freq = DO_maleX_recomb_freq,
  DO_femaleX_recomb_freq = DO_femaleX_recomb_freq)


exportPattern("^[^\\.]")
