#useDynLib(DOQTL,
#  emission_prob_from_r = emission_prob_from_r,
#  filter_smooth_intensity = filter_smooth_intensity,
#  filter_smooth_allele = filter_smooth_allele,
#  kinship_from_r = kinship_from_r,
#  update_from_r = update_from_r,
#  update_alleles_from_r = update_alleles_from_r,
#  viterbi_from_r = viterbi_from_r,
#  DO_autosome_recomb_freq = DO_autosome_recomb_freq,
#  DO_maleX_recomb_freq = DO_maleX_recomb_freq,
#  DO_femaleX_recomb_freq = DO_femaleX_recomb_freq)

useDynLib(DOQTL, .registration = TRUE, .fixes = "C_")

import( annotate, 
        annotationTools,
		biomaRt, 
		Biobase,
		BiocGenerics,
		corpcor,
		GenomicRanges,
		hwriter,
		IRanges,
		MUGAExampleData,
		org.Hs.eg.db,
		org.Mm.eg.db,
		QTLRel,
		Rsamtools,
                RUnit,
 		S4Vectors,
		XML )

importFrom(mclust, Mclust, mclustBIC, priorControl)

export("add.missing.F1s",
       "add.slash",
	   "addLog",
	   "addLogVector",
	   "assoc.map",
	   "assoc.map.perms",
	   "assoc.plot",
	   "batch.normalize",
	   "bayesint",
       "create.Rdata.files", 
       "calc.genoprob", 
	   "categorize.variants",
	   "cc.trans.probs",
	   "cluster.strains",
	   "coefplot",
	   "colSumsLog",
       "condense.model.probs",
	   "convert.allele.calls",
	   "convert.genotypes",
	   "convert.genes.to.GRanges",
	   "convert.pos.to.GRanges",
	   "convert.variants.to.GRanges",
	   "convert.variants.to.numeric",
	   "create.genotype.states",
	   "create.html.page",
	   "create.Rdata.files",
	   "do2sanger",
	   "do.trans.probs",
	   "estimate.cluster.params",
       "extract.raw.data",
	   "fast.qtlrel",
	   "fill.in.snps",
       "filter.geno.probs",
       "filter.samples",
	   "find.overlapping.genes",
	   "founder.F1.intensity.plot",
	   "gene.plot",
	   "get.chr.lengths",
	   "get.do.states",
	   "get.machine.precision",
	   "get.max.geno",
	   "get.mgi.features",
	   "get.pattern.variants",
	   "get.strains",
	   "get.variants",
	   "get.vcf.strains",
       "genotype.by.sample.barplot",
       "genotype.by.snp.barplot",
	   "html.report",
	   "intensity.mean.covar.plot",
       "kinship.probs",
	   "normalize.batches",
       "permutations.qtl.LRS",
	   "prsmth.plot",
	   "pxg.plot",
       "qtl.LRS",
	   "qtl.qtlrel",
       "qtl.heatmap", 
       "qtl.simulate",
	   "quantilenorm",
       "rankZ",
	   "read.vcf",
       "scanone",
	   "scanone.eqtl",
       "scanone.perm",
	   "sdp.plot",
       "sex.predict",
	   "snp.plot",
       "summarize.genotype.transitions",
       "summarize.by.samples",
       "summarize.by.snps",
	   "variant.plot",
       "write.founder.genomes", 
	   "write.genoprob.plots")

#exportPattern("^[^\\.]")

#export(coef.doqtl, plot.doqtl, plot.genoprobs)
S3method(coef, doqtl)
S3method(plot, doqtl)
S3method(plot, genoprobs)

